# Used for load testing
BEARER_TOKEN=""
API_URL="grpc://localhost:50051"

# Used for database connection for the binaries and crates
DATABASE_URL="postgresql://<user>:<password>@localhost:5432/postgres"
AUTH_URL="grpc://localhost:5000"
CACHE_URL="localhost:6379"

POLYGON_API_KEY="<API_KEY>"
CLOUDFLARE_API_KEY="<API_KEY>"
CLOUDFLARE_ACCOUNT_ID="<ACCOUNT_ID>"
